.fe__header-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.fe__header-container h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;

  text-align: center;
  letter-spacing: -1px;

  color: #ffffff;
  max-width: 698px;
}

.fe__header-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;

  text-align: center;

  color: #ffffff;
  max-width: 513px;
}
